@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

p,h2{
    margin-bottom: 0;
}

/* -------------------------------------hero-section--------------------------------------- */
#homepage-hero-section{
    overflow-x: hidden;
    padding-top: 100px;
}

.hero-section-top ul{
    padding-left: 4.5vw;
}
#homepage-hero-section li{
    display: flex;
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);;
    padding-bottom: 10px;
    padding-top: 25px;
}

#homepage-hero-section li img{
    margin-right: 14px;
}

#homepage-hero-section li p{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 23px;
    /* identical to box height */


    color: rgba(0, 0, 0, 0.5);
}

 .hero-section-center .hero-section-images{
    width: 96%;
    height: 400px;
    border-radius: 25px;
    margin: 0 auto;
 }
 .hero-section-center .swiper{
    border-radius: 25px;  
 }

 .hero-section-center .swiper-slide {
    width: 100%;
    height: 400px;
    border-radius: 25px;
  }

  .hero-section-center .swiper-slide  .slider-content {
    padding: 110px 0 0px 30px;
  }
  
 .hero-section-center .swiper-slide  .slider-content h2{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    
    color: #FFFFFF;
    padding-bottom: 30px;


  }

  .hero-section-center .swiper-slide  .slider-content button{
    padding: 9px 14px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 21px;
    /* identical to box height */


    color: #FFFFFF;
    border: 2px solid white;
    border-radius: 19.5px;
    background: transparent;
    outline: none;
  }
 

  .hero-section-bottom .hero-section-bottom-card{
    width: 300px;
    height: 400px;
    border-radius: 25px;
    border: 2px solid #2FC6BD;
    padding: 0 20px;
  }


  .hero-section-bottom-card h3{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 21px;
    text-align: center;

    color: #000000;
    margin-top: -40px;
  }

  .hero-section-bottom-card h5{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;


    color: #2FC6BD;
    padding-top: 27px;

  }

  .hero-section-bottom-card .seven-2-9{

    color: #B9B4B4;
    font-size: 17px;
    margin-right: 20px;
  }


  /* <!-- _____________________________________________TOP_CATEGORY________________________________________________ --> */

  #top-category {
    padding: 0 3.7vw;
  }
  #top-category .section-heading{
  display: flex;
  justify-content: center;
  padding-top: 60px;
  }

  #top-category .section-heading .heading-line-data{
    flex-basis: 40%;
    display: flex;
    justify-content: center;
    align-items: center;

  }
  #top-category .section-heading .heading-line{
    width: 100%;
    height: 1.5px;
    background: rgba(0, 0, 0, 0.35);;
    text-align: center;
  }

  #top-category .section-heading h2{
    flex-basis: 20%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    color: #000000;
    /* margin-top: -19px; */
  }
  #top-category .heading-description{
    padding: 0 10vw;
  }

  #top-category .heading-description p{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
   padding-top: 5px;

    color: rgba(0, 0, 0, 0.5);
  }

  .top-category-cards{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-top: 40px;
  }

  .top-category-cards img{
    height: 164px;
  }
 
  .top-category-cards h3{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #000000;
    padding-top: 8px;
  }

  .top-category-cards h4{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #000000;
    color: rgba(0, 0, 0, 0.5);
  }
/* 
  <!-- ___________________________________________________STEPS_______________________________________________ --> */
  #steps-section{
    padding-top: 70px;
  }
   #steps-section .step-card{
    display: flex;
    justify-content: center;
    align-items: center;
   }
  .step-card .number h3{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 80px;
    line-height: 97px;

    color: #2FC6BD;
  }

  .step-card .number-data h4{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
  
    
    color: #000000;
    
  }

  .step-card .number-data p{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
 
    color: #000000;
    
  }

  /* <!-- ______________________________________________FOR-TRAVELS________________________________ --> */

#for-travel{
    padding: 0 3.8vw;
    padding-top: 70px;
}

#for-travel .section-heading{
    display: flex;
    justify-content: center;
    padding-top: 20px;
    }
  
    #for-travel .section-heading .heading-line-data{
      flex-basis: 32%;
      display: flex;
      justify-content: center;
      align-items: center;
  
    }
    #for-travel .section-heading .heading-line{
      width: 100%;
      height: 1.5px;
      background: rgba(0, 0, 0, 0.35);;
      text-align: center;
    }
  
    #for-travel .section-heading h2{
      flex-basis: 36%;
      font-family: 'Inter';
      font-style: normal;
      font-weight: 700;
      font-size: 30px;
      line-height: 36px;
      color: #000000;
      /* margin-top: -19px; */
    }



    .for-travel-main-data{
        display: flex;
        flex-wrap: wrap;

      }

      .for-travel-card{
        flex-basis: 33.3%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding-top: 60px;
      }
    
      .for-travel-card img{
        height: 164px;
      }
     
      .for-travel-card h3{
        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 22px;
        text-align: center;
        color: #000000;
        padding-top: 8px;
      }
    
      .for-travel-card h4{
        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 22px;
        text-align: center;
        color: #2FC6BD;
      }


  .for-travel-bottom{
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 25px;
  }

  .for-travel-bottom-data{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 17px 0;
  }

  .for-travel-bottom-data p{
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;


    color: rgba(0, 0, 0, 0.5);
    padding: 10px 40px 0 40px;
  }



  /* <!-- _______________________________________________TOP-MOBILE-PHONES_______________________________________________ --> */
#top-mobile-phones{
    padding-top: 80px;
}

  .top-mobile-phones-top{
    height: 240px;
    background: black;
    display: flex;
    align-items: center;
    padding-left: 4vw;
}



.top-mobile-phones-content h2{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    display: flex;
    align-items: center;
    text-align: right;

    color: #FFFFFF;
}

.top-mobile-phones-content button{
    background: transparent;
    border: none;
    outline: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 21px;
    /* identical to box height */


    color: #FFFFFF;
    padding: 14px 11px;
    border: 2px solid #FFFFFF;
    border-radius: 40px;
    margin-top: 20px;
}
.top-mobile-phones-bottom{
background: url(../assets/top-mobile-phone-bg.jpg);
height: 240px;
background-size: cover;
}

/* 
<!-- _________________________________________LIST______________________________________ --> */
.list-cards{
    padding-top: 65px;
}

.list-card{
    display: flex;
    justify-content: center;
    flex-direction: column;
  
  }
  .list-cards-img{
    width: 216px;
    height: 216px;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.1);
    margin: 0 auto;
    
  }
  .list-cards img{
    height: 164px;
  }
 
  .list-cards h3{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #000000;
    padding-top: 20px;
  }

  .list-cards h4{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #000000;
    color: rgba(0, 0, 0, 0.5);
  }